<a href="https://colab.research.google.com/github/Snehanjaliuppu/AIML-2025/blob/main/PnS_Week3_1305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: Ungrouped Data
Given the ungrouped dataset below, calculate the median and mode
data=[12, 45, 67, 23, 45, 89, 45, 12, 33, 67, 67, 78, 45, 23, 23, 56, 89, 45, 33, 45]
Tasks:
1. Compute the median and mode using numpy.
2. Compute the mode using pandas
**bold text**

In [ ]:
import numpy as np
import pandas as pd
data=[12, 45, 67, 23, 45, 89, 45, 12, 33, 67, 67, 78, 45, 23, 23, 56, 89, 45, 33, 45]
median_numpy=np.median(data)
mode_numpy=np.unique(data, return_counts=True)
mode_pandas=pd.Series(data).mode() [0]
median_numpy=np.median(data)
mode_numpy=np.unique(data, return_counts=True)
mode_pandas=pd.Series(data).mode() [0]
median_pandas=pd.Series(data).median()
print(median_numpy)
print(mode_numpy)
print(mode_pandas)

45.0
(array([12, 23, 33, 45, 56, 67, 78, 89]), array([2, 3, 2, 6, 1, 3, 1, 2]))
45

Question 2:
Grouped Data
The following data shows the frequency of scores in a test:
Score Frequency
10 5
20 8
30 12
40 15
50 7
Tasks:
1. Compute the median and mode using numpy.
2. Compute the mode using pandas. **bold text**

In [ ]:
import pandas as pd
import numpy as np
data=[10,20,30,40,50]
freq=[5,8,12,15,7]
df=pd.DataFrame({'Data': data, 'Frequency': freq})
median=np.median(df['Data'])
mode=df['Data'].mode()[0]
print(median)
print(mode)

30.0
10

In [ ]:
import numpy as np
import pandas as pd
data=[12, 45, 67, 23, 45, 89, 45, 12, 33, 67, 67, 78, 45, 23, 23, 56, 89, 45, 33, 45]
median_numpy=np.median(data)
mode_numpy=np.unique(data, return_counts=True)
mode_pandas=pd.Series(data).mode() [0]
median_numpy=np.median(data)
mode_numpy=np.unique(data, return_counts=True)
mode_pandas=pd.Series(data).mode() [0]
median_pandas=pd.Series(data).median()
print(median_numpy)
print(mode_numpy)
print(mode_pandas)

45.0
(array([12, 23, 33, 45, 56, 67, 78, 89]), array([2, 3, 2, 6, 1, 3, 1, 2]))
45